# Swift
.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc

# Environment files
.env
.env.development
.env.staging
.env.production
.env.testing

# Database
*.sqlite
*.sqlite-*

# Logs
*.log
